.champions-section {
    padding: 3vh 10vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.champ-box {
    color: white;
    display: flex;
    flex: 1 1 0;
    /*     flex-wrap: wrap;
 */
    /*     min-width: 180px;
 */
    flex: 1 1 0;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

.champ-details h1 {
    font-size: 1.1rem;
    margin: 0;
}

.champ-details {
    padding: 0.3rem;

    /*     min-width: 100px;
 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .champ-box img {
        width: 4.5rem;
    } /* 
    .champ-box {
        flex: 1 1 0;
    } */
    .champ-details > h1 {
        font-size: 0.7rem;
    }

    .champ-details {
        font-size: 0.6rem;
    }
    .champ-name > * {
        font-size: 0.6rem;
    }
}
