#navigationBar {
    background-color: blueviolet;
}
.me-auto {
    display: flex;
}
.me-auto > a {
    flex: 1 1 0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.7rem;
    color: white;
}
.me-auto > a:hover {
    color: rgb(0, 0, 0);
}
#responsive-navbar-nav {
    align-items: flex-end;
}

@media screen and (max-width: 800px) {
    .me-auto > a {
        font-size: 0.8rem;
        padding: 0.3rem;
    }
}
