#hero-section {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.detailsContainer {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    border-width: 0.1rem;
    box-shadow: 0px 0px 15px 10px rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#searchForm {
    color: rgb(187, 65, 65);
    margin-right: 1rem;
    display: flex;
    align-content: left;
    justify-content: space-between;
    flex-wrap: wrap;
}
#fullResult {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}
#summData {
    text-align: left;
}
#summIconImg {
    border-radius: 10px;
}
.resultsArea {
    background-color: rgb(255, 255, 255);
    min-height: 10rem;
    box-shadow: inset 0px 0px 15px 10px rgb(233, 233, 233);
    padding: 2rem;
    border-radius: 0.5rem;
    word-break: break-all;
}

#btnSearch {
    background-color: blueviolet;
    border: none;
}
#mainDetails {
    text-align: left;
}
.resultsDetailsArea {
    padding: 1rem;
}
#mDetails {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#searchControlForm {
    justify-content: space-around;
}

/* CARD */
#cardTeams {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: inset 0px 0px 15px 3px rgb(187, 187, 187);
    margin-bottom: 1rem;
}
#partDetails {
    margin-bottom: 1rem;
    box-shadow: 0px 0px 15px 3px rgb(187, 187, 187);
}
