.player-search-container {
    background-color: rgb(128, 231, 31);
    border-radius: 1rem;
    /*     padding: 1rem;
 */
    box-shadow: 10px 6px 1px 4px rgb(96, 199, 0),
        inset 3px 3px 1px rgb(143, 252, 0);
    display: flex;
    align-items: center;
}
#searchControlForm {
    display: flex;
}
#resultsArea {
    background-color: rgb(186, 255, 121);
    display: flex;
    height: 20rem;
    margin: 1rem 0 1rem 1rem;
    box-shadow: inset 10px 10px 10px rgb(54, 112, 0);

    width: 100%;
    border-radius: 0.5rem;
    padding: 2rem;
}
#hero-section {
    background-color: rgb(128, 231, 31);
    padding: 2rem;
    box-shadow: 0px 10px 10px rgb(54, 112, 0);
}
#btnSearch {
    width: 100%;
    background-color: blueviolet;
    border: none;
}
